 /* This is your main style file */
body{
    margin: 0;
    padding: 0;
}

#header{
    height: 100px;  
    width: 100%; 
}

#footer{
    height: 100px;  
    width: 100%;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
    
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }

.navbar {
    z-index: 1;
}